@charset "utf-8";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
  font-family: "Nunito", sans-serif;
}
html {
  scroll-behavior: smooth;
}
input:focus {
  outline: none;
}
/* SCROLLBAR */
::-webkit-scrollbar {
}

/* Handle */
::-webkit-scrollbar-thumb {
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
}

/* Track */
::-webkit-scrollbar-track {
}

/*********/

/* placeholder color */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #1b49658e;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #1b49658e;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #1b49658e;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #1b49658e;
}

/*********/
/* For mozila */
@-moz-document url-prefix() {
}
/**********************/
html {
  height: 100%;
}
body {
  height: 100%;
}
header {
  height: 70px;
  width: 100%;
  max-width: 4000px;
  margin: 0 auto;
  border-bottom: solid 1px #ededed;
}
header .all-header {
  display: flex;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}
header .all-header .icon-resp {
  color: #1b4965;
  font-size: 35px;
  display: flex;
  align-items: center;
}
header .all-header .search {
  border: solid 2px #1b4965;
  display: flex;
  align-items: center;
  height: 40px;
  margin: 14.5px auto;
  width: 40%;
  padding: 0 10px;
  border-radius: 20px;
  color: #1b4965;
}
header .all-header .search input {
  border: none;
  width: 100%;
  padding: 0 5px;
  color: #1b4965;
}
header .all-header .search .fa-search {
  padding: 10px;
  border-radius: 50%;
  position: relative;
  left: 10px;
  transition: all 0.3s;
  cursor: pointer;
}
header .all-header .search .fa-search:hover {
  background-color: #cce7e1;
}
main {
  display: flex;
  width: 100%;
  max-width: 4000px;
  margin: 0 auto;
  height: calc(100% - 70px);

  align-items: center;
}
main aside {
  border-right: solid 1px #ededed;
  height: 100%;
  width: 0;
  overflow: hidden;
  max-width: 300px;
  transition-duration: 0.3s;
  font-size: 0px;
}

main aside .all-ul {
  width: 75%;
  margin: 0 auto;
  color: #1b4965;
  font-size: 0px;
  display: flex;
  flex-wrap: wrap;
  padding: 35px 0;
  height: 100%;
}
.show-sidebar {
  width: 20%;
  transition-duration: 0.5s;
}
.show-sidebar .all-ul {
  font-size: 18px;
  transition-duration: 0.1s;
}
main aside .all-ul ul {
  min-width: 100%;
}
main aside .all-ul .list2 {
  height: auto;
  display: flex;
  flex-direction: column-reverse;
}
main aside .all-ul ul li {
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

main aside .all-ul ul li:hover {
  background-color: #cce7e1;
}
main aside .all-ul ul li i {
  margin-right: 10px;
}
main section {
  width: 100%;
  height: 100%;
  position: relative;
}
main section .containerLists {
  display: flex;
  max-width: 1690px;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: baseline;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 100px auto;
  height: 90%;
  width: 90%;
}

main section .containerList {
  min-height: 400px;
  height: auto;
  width: 400px;
  max-width: 1000px;
  background-color: white;
  border-radius: 5px;
  margin: 30px auto;
}

main section .containerList .state {
  height: 50px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 8px;
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
}
.cList1 {
  border: 1px solid #ffccd1;
  border-top: none;
}
.cList2 {
  border: 1px solid #fbeecc;
  border-top: none;
}
.cList3 {
  border: 1px solid #dcf1ff;
  border-top: none;
}
.s1 {
  background-color: #ffccd1;
}
.s2 {
  background-color: #fbeecc;
}
.s3 {
  background-color: #dcf1ff;
}
.counter {
  height: 22px;
  width: 22px;
  background-color: white;
  text-align: center;
  border: 1px solid #1b4965;
  border-radius: 5px;
}
.list .element {
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6.5px;
  margin-bottom: 8px;
  border-radius: 7px;
  font-weight: bold;
  position: relative;
  width: 90%;
}
.element button {
  border: none;
  background-color: white;
  font-size: 15px;
}
.l1 .element button {
  color: #fb98a2;
}
.l2 .element button {
  color: #fbdb8a;
}
.l3 .element button {
  color: #dcf1ff;
}
.list .elName {
  border: none;
  width: 80%;
  height: 100%;
}
.l1 .element {
  border: 2px solid #ffccd1;
}

.l2 .element {
  border: 2px solid #fbeecc;
}
.l3 .element {
  border: 2px solid #dcf1ff;
}
.addBtn {
  width: 90%;
  background-color: white;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  border-radius: 7px;
  font-size: 25px;
  cursor: pointer;
}
.addBtn i {
  font-size: 30px;
}
.cList1 .addBtn {
  border: 2px dotted #ffccd1;
  color: #ff909b;
}
.cList2 .addBtn {
  border: 2px dotted #fbeecc;
  color: #ffd977;
}
.cList3 .addBtn {
  border: 2px dotted #dcf1ff;
  color: #74c3f8;
}
.change-width {
  width: 1000px;
}
.hide-list {
  display: none;
}
.alert {
  margin-bottom: 1rem;
  height: 1.25rem;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
  border-radius: 0.25rem;
  letter-spacing: var(--spacing);
  text-transform: capitalize;
}
.alert-danger {
  color: #721c24;
  background: #f8d7da;
}
.alert-success {
  color: #155724;
  background: #d4edda;
}
.grocery-form h3 {
  color: var(--clr-primary-1);
  margin-bottom: 1.5rem;
  text-align: center;
}
#grocery {
  padding: 0.25rem;
  padding-left: 1rem;
  background: var(--clr-grey-10);
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  border-color: transparent;
  font-size: 1rem;
  flex: 1 0 auto;
  color: var(--clr-grey-5);
}
#grocery::placeholder {
  font-family: var(--ff-secondary);
  color: var(--clr-grey-5);
}
.submit-btn {
  background: var(--clr-primary-8);
  border-color: transparent;
  flex: 0 0 5rem;
  display: grid;
  align-items: center;
  padding: 0.25rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  cursor: pointer;
  content: var(--clr-primary-5);
  transition: var(--transition);
  font-size: 0.85rem;
}
.submit-btn:hover {
  background: var(--clr-primary-5);
  color: var(--clr-white);
}

.grocery-container {
  margin-top: 2rem;
  transition: var(--transition);
  visibility: hidden;
}
.show-container {
  visibility: visible;
}
.grocery-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  transition: var(--transition);
  padding: 0.25rem 1rem;
  border-radius: var(--radius);
  text-transform: capitalize;
}
.grocery-item:hover {
  color: var(--clr-grey-5);
  background: var(--clr-grey-10);
}
.grocery-item:hover .title {
  color: var(--clr-grey-5);
}
.title {
  margin-bottom: 0;
  color: var(--clr-grey-1);
  letter-spacing: 2px;
  transition: var(--transition);
}
.edit-btn,
.delete-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 0.7rem;
  margin: 0 0.15rem;
  transition: var(--transition);
}
.edit-btn {
  color: var(--clr-green-light);
}
.edit-btn:hover {
  color: var(--clr-green-dark);
}
.delete-btn {
  color: var(--clr-red-light);
}
.delete-btn:hover {
  color: var(--clr-red-dark);
}
.clear-btn {
  text-transform: capitalize;
  width: 10rem;
  height: 1.5rem;
  display: grid;
  align-items: center;
  background: transparent;
  border-color: transparent;
  color: var(--clr-red-light);
  margin: 0 auto;
  font-size: 0.85rem;
  letter-spacing: var(--spacing);
  cursor: pointer;
  transition: var(--transition);
  margin-top: 1.25rem;
}
.clear-btn:hover {
  color: var(--clr-red-dark);
}
.filter {
  filter: blur(5px);
}

.box-data {
  width: 0;
  max-width: 500px;
  overflow: hidden;
  height: auto;
  position: fixed;
  top: 100%;
  left: -100%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  height: 247px;
  border-radius: 8px;
  z-index: 9999;
  transition: all 0.3s;
}
.show-box-data {
  width: 50%;
  top: 50%;
  left: 50%;
  height: 225px;
  border: solid 1px #ededed;
}
.box-data .box-input {
  padding: 20px;
}
.box-data .box-input i,
.box-data .box-input input,
.box-data .box-input button {
  display: block;
  margin: 30px auto;
  height: 39px;
}
.box-data .box-input i {
  color: #ff5e5e;
  font-size: 26px;
  float: right;
  margin: 0;
  margin-bottom: 20px;
  height: 27px;
}
.box-data .box-input input {
  border: solid 2px #1b4965;
  border-radius: 8px;
  padding: 0 15px;
  color: #1b4965;
}
.box-input button {
  background-color: #1b4965;
  color: #fff;
  border: none;
  border-radius: 8px;
}
.box-data .box-input input,
.box-data .box-input button {
  width: 100%;
}

.hide-select {
  display: none;
}
.hide-selectBtn {
  display: none;
}

.list select {
  background-color: #0563af;
  color: white;
  padding: 12px;
  width: 100px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}
.select-box {
  width: 0;
  max-width: 500px;
  overflow: hidden;
  height: auto;
  position: fixed;
  top: 100%;
  left: -100%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  height: 247px;
  border-radius: 8px;
  z-index: 9999;
  transition: all 0.3s;
}
.show-select-box {
  width: 50%;
  top: 50%;
  left: 50%;
  height: 100px;
  border: solid 1px #ededed;
}
.select-box .box-input {
  padding: 20px;
  display: inline;
  margin: 10px auto;
}
.select-box .box-input i,
.select-box .box-input input,
.select-box .box-input button {
  margin: 30px auto;
  height: 39px;
}
.select-box .box-input i {
  color: #ff5e5e;
  font-size: 26px;
  float: right;
  margin: 0;
  margin-bottom: 20px;
  height: 27px;
}
.select-box .box-input input {
  border: solid 2px #1b4965;
  border-radius: 8px;
  padding: 0 15px;
  color: #1b4965;
}
.select-box button {
  background-color: #1b4965;
  color: #fff;
  border: none;
  border-radius: 8px;
}
.select-box .box-input input,
.select-box .box-input button {
  width: 25%;
}

.hide-not-change {
  display: none;
}
